body, html {
    color: #237fc8;
}

.content-wrapper {
    padding: 12em 0 4em 0;
}

.navbar > .container > .navbar-brand {
    position: absolute;
    top: -0.5rem;
}

.navbar > .container > .navbar-toggler {
    position: relative;
    right: calc(-100% - -1.5em);
}

.navbar > .container > .navbar-brand  > img{
    width: 6em;
}

.bg-primary {
    background-color: #247fc9 !important;
}

.nav-btn {
    margin: .35em 0 0 1rem;
    border-radius: 80px;
    padding: 0.25rem 1rem;
}

@media (max-width: 991px) {
    .offcanvas-collapse {
        position: fixed;
        top: 45px; /* Height of navbar */
        bottom: 0;
        right: 0;
        width: 14em;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        background-color: #005e98;
        transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
        -webkit-transform: translateX(14em);
        transform: translateX(14em);
    }
    .offcanvas-collapse.open {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .offcanvas-collapse > .navbar-nav {
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    .nav-btn {
        margin: 1em 0;
        width: 100% !important;
    }
}

.lobby-logo {
    width: 4em;
    margin-bottom: 1rem;
}

body.login-page .main-footer {
    background-color: transparent;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-left: 0 !important;
}

.select2-drop-active{
    margin-top: -25px;
}

.img-profile {
    height: 40px;
    border: 1px solid white;
}

/* FullCalendar */
.fc-day-today {
    background:#f5f5f5 !important;
}

.fc-view .table-bordered {
    border: none;
}

.fc-view .table-bordered td {
    border-right: none;
    border-bottom: none;
}

.fc-scrollgrid-sync-inner {
    text-align: end;
}

.fc-event {
    text-align: start;
}